# DB
POSTGRES_DB="fasterapi"
POSTGRES_USER="fasterapi"
POSTGRES_PASSWORD="fasterapi"
POSTGRES_PORT="5435"
DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

# REDIS
REDIS_URL=""
REDIS_PASSWORD=""
